.section-img {
    background-color: black;
}

.container{
    width: 1200px;
    display: flex;
    overflow-x: scroll;
    margin-left:100px;
}

.container::-webkit-scrollbar {
    display: none;
}

.gallery {
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 15px;
    flex: none;
}

.img {
    width: 100%;
    height: 100%;
}

.strit {
   cursor: pointer;
   width: 70px;
   margin: 50px;
}